* {
    padding: 0;
    margin: 0;
}

.container {
    display: inline-block;
}

.login-welcome {
    display: inline-flex;
    background: linear-gradient(180deg, #33383D 0%, #1C1D20 100%);
    box-shadow: 4px 4px 70px rgba(0, 0, 0, 0.25);
    width: 50rem;
    height: 100vh;
}

.welcome {
    padding-left: 5cm;
    padding-top: 3cm;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 75px;
    color: #E0E0E0;
}

.paragrafo-login {
    position: absolute;
    width: 301px;
    height: 52px;
    padding-top: 5cm;
    padding-left: 5.3cm;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #E0E0E0;
}

.login {
    position: absolute;
    width: 301px;
    height: 52px;
    padding-top: 7cm;
    padding-left: 5.3cm;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 20px;
    color: #E0E0E0;
}

.logo {
    position: absolute;
    width: 45.3em;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    left: 40em;
    top: 0px;
    background-image: url("../imagens/logo_1.svg");
} 

#logo-compasso {
    width: 40vh;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    padding-top: 0.7cm;
}